* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(/image1/6254026.png);
  background-size: cover;
  background-position: center;
  margin-bottom: 20px;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(158, 228, 18);
  font-style: italic;
  font-weight: 900;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  background-color: rgb(106, 20, 255);
}

.slot {
  border: 1px solid rgb(255, 255, 255);
  width: 150px;
  height: 150px;
}

.mario {
  background-position: center;
  background-image: url(/image1/Ph03nyx-Super-Mario-Paper-Mario.ico);
  background-size: cover;
  background-color: rgb(254, 38, 38);
}

.yoshi {
  background-position: center;
  background-image: url(/image1/92627-toy-computer-island-wallpaper-woolly-mario-yoshi.png);
  background-size: cover;
  background-color: rgb(0, 255, 30);
}

.slot1 {
  grid-column: 1;
  grid-row: 1;
}

.slot2 {
  grid-column: 2;
  grid-row: 1;
}

.slot3 {
  grid-column: 3;
  grid-row: 1;
}

.slot4 {
  grid-column: 1;
  grid-row: 2;
}

.slot5 {
  grid-column: 2;
  grid-row: 2;
}

.slot6 {
  grid-column: 3;
  grid-row: 2;
}

.slot7 {
  grid-column: 1;
  grid-row: 3;
}

.slot8 {
  grid-column: 2;
  grid-row: 3;
}

.slot9 {
  grid-column: 3;
  grid-row: 3;
}

.reset-game {
  display: block;
  margin: 0 0 0 -1100px;
  font-size: 18px;
  text-align: center;
  background-color: rgb(217, 145, 38);
  width: 120px;
  height: 50px;
}

.reset-game:hover {
  background-color: rgb(172, 216, 51);
}
