* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(/image1/6254026.png);
  background-size: cover;
  background-position: center;
  margin-bottom: 40px;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(158, 228, 18);
  font-style: italic;
  font-weight: 900;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  background-color: rgb(55, 133, 249);
  border: 20px solid #204cdd74;
  border-radius: 20px;
}

.slot {
  border: 1px solid rgb(255, 255, 255);
  width: 130px;
  height: 130px;
}

.mario {
  background-position: center;
  background-image: url(/image1/Ph03nyx-Super-Mario-Paper-Mario.ico);
  background-size: cover;
  background-color: rgb(254, 38, 38);
}

.yoshi {
  background-position: center;
  background-image: url(/image1/92627-toy-computer-island-wallpaper-woolly-mario-yoshi.png);
  background-size: cover;
  background-color: rgb(0, 255, 30);
}

[class="1slot"] {
  grid-column: 1;
  grid-row: 1;
}

[class="2slot"] {
  grid-column: 2;
  grid-row: 1;
}

[class="3slot"] {
  grid-column: 3;
  grid-row: 1;
}

[class="4slot"] {
  grid-column: 1;
  grid-row: 2;
}

[class="5slot"] {
  grid-column: 2;
  grid-row: 2;
}

[class="6slot"] {
  grid-column: 3;
  grid-row: 2;
}

[class="7slot"] {
  grid-column: 1;
  grid-row: 3;
}

[class="8slot"] {
  grid-column: 2;
  grid-row: 3;
}

[class="9slot"] {
  grid-column: 3;
  grid-row: 3;
}

.reset-game {
  display: block;
  margin: 0 0 0 -1100px;
  font-size: 18px;
  text-align: center;
  background-color: rgb(217, 145, 38);
  width: 120px;
  height: 50px;
}

.reset-game:hover {
  background-color: rgb(221, 207, 22);
}

#marioicon {
  position: absolute;
  width: 300px;
  height: 350px;
  top: 150px;
  left: 100px;
  -webkit-transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

#yoshiicon {
  position: absolute;
  width: 300px;
  height: 350px;
  top: 150px;
  right: 100px;
  -webkit-transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}
